{% extends 'base.html.twig' %}

{% block body %}
{% if app.user %}
<div class="example-wrapper">
        <h1>Changer mot de passe :</h1>
         {% for successMessage in app.flashes('success') %}
    <div class="row">
        <div class="col-12">
            <div class="alert alert-success">
                {{successMessage| raw}}
            </div>
        </div>
    </div>
    {% endfor %}
        </br>
        <div class="row"> 
        {{form(modifyPwd)}}
        
    </div>
       
</div>
{% else %}
 <h1>connecter vous pour acceder ici</h1>
{% endif %}
{% endblock %}